:root {
    --primary: #af0707;
    --bcg: #f0f0f0;
    --white: #fff;
    --black: #000;
    --etoiles: #ff9900;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: var(--bcg);
    font-size: 1.3rem;
}

header {
    background-color: var(--primary);
    border-radius: 0 0 10px 10px;
    margin-bottom: 50px;
}

h1{
    align-items: center;
    text-align: center;
    height: 10vh;
    font-size: 3rem;
    margin: 0;
    padding: 20px 0 0;
    justify-content: center;
    display: flex
    
}
.sectionEtalons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    
    & ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    & li {
        color: var(--primary);
        margin: 20px;
        
        & a {
            text-decoration: none;
            color: var(--white);
            font-weight: bold;
            
            &:hover {
                color: var(--black);
            }
        }
    }
}
p {
    width: 60vw;
    margin: auto;
    text-align: center;
    padding: 0;
}

h2{
    width: 100%;
    text-align: center;
    color: var(--primary);
    font-size: 2rem;
    padding: 0;
}
//  *******************************PAGE ACCEUIL ******************************* 
figure {
    margin: 0;
    padding: 0;
    width: 25vw;
    height: 50vh;
    background: var(--primary);
    border-radius: 10px;
    
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    
    & img:hover {
        transform: scale(0.97);
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    
    figcaption {
        justify-content: center;
        display: flex;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 10px 0;
        
        & i {
            margin-left: 10px;
        }
    }
}


.sectionContact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    padding: 0 50px;
    margin: 100px 0 0;
    color: var(--black);
    
    & form {
        width: 50%;
        display: flex;
        flex-direction: column;
        
        & input {
            width: 50%;
            font-size: 1rem;
        }
        & button {
            width: 50%;
            background: var(--black);
            font-size: 1rem;
            font-weight: 1rem;
            color: var(--white);
            border: none;
            padding: 10px;
            margin: 10px 0;
            border-radius: 10px;
            cursor: pointer;
            
            &:hover {
                background: var(--primary);
            }
            
        }
    }
    
    & h3 {
        font-size: 2rem;
        color: var(--black);
        margin-top: 20px;
    }
}

footer {
    background-color: var(--primary);
    height: 10vh;
    margin-top: 50px;
    justify-content: center;
    color: var(--white);
    display: flex;
    align-items: center;
}

//  *******************************PAGE ETALON ******************************* 
figure.etalon {
    background-color: transparent;
    margin: auto;
    height: 38vh;
    
    & img {
        height: auto;
        margin-top: 20px;
        border-radius: 50%;
        
        &:hover {
            transform: scale(1);
        }
    }
    
    & figcaption {
        font-size: 2rem;
    }
}

i {
    color: var(--etoiles);
}

.performances {
    color: var(--primary);
    text-decoration: underline;
    margin-top: 15vh;
}

.performance {
text-align: center;
}



//  *******************************PAGE ETALON ******************************* 


@media screen and (max-width: 768px) {
    
    h1 {
        width: 80vw;
        font-size: 2rem;
    }
    
    h2 {
        width: 80vw;
        font-size: 1.5rem;
    }
    
    .etalons {
        flex-direction: column;
        width: 100vw;
    }
    
    
    figure {
        width: 50vw;
        height: 50vh;
        margin: 15px;
    }
    
}